*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
#cards{
    margin-right: 25px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.card{
    margin-left: 50px;
    margin-top: 50px;
 
    padding-top: 15px;
    border: solid 2px pink;
    width: 23%;
    height: 700px;
    align-items: center;
}
.image{
    width: 90%;
    height: 400;
    padding-top: 10px;
}
.price{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
}
.discription{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    height: 20%;
}
.title{
    font-size: 23px;
    font-weight: bolder;
    text-align: center;

}